<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>NGOProject</display-name>
  <servlet>
    <servlet-name>userController</servlet-name>
    <servlet-class>com.soft.application.controller.UserController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>paintingController</servlet-name>
    <servlet-class>com.soft.application.controller.PaintingController</servlet-class>
    <multipart-config>
      <max-file-size>10485760</max-file-size>
      <max-request-size>20971520</max-request-size>
      <file-size-threshold>5242880</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet>
    <servlet-name>drawingController</servlet-name>
    <servlet-class>com.soft.application.controller.DrawingController</servlet-class>
    <multipart-config>
      <max-file-size>10485760</max-file-size>
      <max-request-size>20971520</max-request-size>
      <file-size-threshold>5242880</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet>
    <servlet-name>carvingController</servlet-name>
    <servlet-class>com.soft.application.controller.CarvingController</servlet-class>
    <multipart-config>
      <max-file-size>10485760</max-file-size>
      <max-request-size>20971520</max-request-size>
      <file-size-threshold>5242880</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet>
    <servlet-name>sculptureController</servlet-name>
    <servlet-class>com.soft.application.controller.SculptureController</servlet-class>
    <multipart-config>
      <max-file-size>10485760</max-file-size>
      <max-request-size>20971520</max-request-size>
      <file-size-threshold>5242880</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet>
    <servlet-name>photographicImageController</servlet-name>
    <servlet-class>com.soft.application.controller.PhotographicImageController</servlet-class>
    <multipart-config>
      <max-file-size>10485760</max-file-size>
      <max-request-size>20971520</max-request-size>
      <file-size-threshold>5242880</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet>
  	<servlet-name>clientController</servlet-name>
  	<servlet-class>com.soft.application.controller.ClientController</servlet-class>
     <multipart-config>
      <max-file-size>10485760</max-file-size>
      <max-request-size>20971520</max-request-size>
      <file-size-threshold>5242880</file-size-threshold>
    </multipart-config>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>clientController</servlet-name>
  	<url-pattern>/viewPaintingsForUser</url-pattern>
  	<url-pattern>/viewPhotographicImagesForUser</url-pattern>
  	<url-pattern>/viewSculpturesForUser</url-pattern>
  	<url-pattern>/viewCarvingsForUser</url-pattern>
  	<url-pattern>/viewDrawingsForUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>userController</servlet-name>
    <url-pattern>/addUsers</url-pattern>
    <url-pattern>/viewUsers</url-pattern>
    <url-pattern>/addUser</url-pattern>
    <url-pattern>/updateUser</url-pattern>
    <url-pattern>/updateUserForm</url-pattern>
    <url-pattern>/deleteUser</url-pattern>
    <url-pattern>/login</url-pattern>
    <url-pattern>/logout</url-pattern>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>paintingController</servlet-name>
    <url-pattern>/addPainting</url-pattern>
    <url-pattern>/viewPaintings</url-pattern>
    <url-pattern>/updatePaintingForm</url-pattern>
    <url-pattern>/updatePainting</url-pattern>
    <url-pattern>/deletePainting</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>drawingController</servlet-name>
    <url-pattern>/addDrawing</url-pattern>
    <url-pattern>/viewDrawings</url-pattern>
    <url-pattern>/updateDrawingForm</url-pattern>
    <url-pattern>/updateDrawing</url-pattern>
    <url-pattern>/deleteDrawing</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>carvingController</servlet-name>
    <url-pattern>/addCarving</url-pattern>
    <url-pattern>/viewCarvings</url-pattern>
    <url-pattern>/updateCarvingForm</url-pattern>
    <url-pattern>/updateCarving</url-pattern>
    <url-pattern>/deleteCarving</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>sculptureController</servlet-name>
    <url-pattern>/addSculpture</url-pattern>
    <url-pattern>/viewSculptures</url-pattern>
    <url-pattern>/updateSculptureForm</url-pattern>
    <url-pattern>/updateSculpture</url-pattern>
    <url-pattern>/deleteSculpture</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>photographicImageController</servlet-name>
    <url-pattern>/addPhotographicImage</url-pattern>
    <url-pattern>/viewPhotographicImages</url-pattern>
    <url-pattern>/updatePhotographicImageForm</url-pattern>
    <url-pattern>/updatePhotographicImage</url-pattern>
    <url-pattern>/deletePhotographicImage</url-pattern>
  </servlet-mapping>
</web-app>